body {
    background-color: rgb(55, 46, 109);
}
.End {
    margin-top: 100px;
}
p {
    color: white;
}
.title {
    color: white;
}
.title2 {
    color: white;
}
.title3 {
    color: crimson;
}
li {
    color: white;
}
.Imp {
    color: white;
}
.cor {
    color: white;
}
.afr {
    color: white;
}
.antr {
    color: white;
}
.mag {
    color: white;
}
.hoh {
    color: white;
}
.gala {
    color: white;
}
.gym {
    color: white;
}
.adel {
    color: white;
}
.mal {
    color: white;
}
.shl {
    color: white;
}